<div class='row option'>
<div class='col-md-4'></div>
<div class='col-md-5'>
  <div class='panel'>
    <div class='panel-header media'>
      <a href='{% url "char_profile" character.pk %}'>
        <img class='img-rounded' src='{{ character.image }}' style='height: 200px;width:100%;'>
      </a>
    </div>
    <div class='panel body'>
      <h1 class='text-center'>{{character}}</h1>
      <p> {{character.description}} </p>
      <div class='dropdown'>
        <button class='btn btn-success dropdown-toggle' type='button' data-toggle='dropdown'>
          Your Characters
          <span class='caret'></span>
        </button>
        <ul value='{{character.pk}}' class='dropdown-menu dropdown-list'>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>