{% extends 'base_authed.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %} {{ header }} {% endblock %}

{% block stylesheet_includes %}
    <!-- stylesheet -->
    <link href="/static/css/literallycanvas.css" rel="stylesheet">
{% endblock %}
{% block script_includes %}
    <!-- dependency: React.js -->
    <script src="/static/js/react-with-addons.js"></script>

    <!-- Literally Canvas -->
    <script src="/static/js/literallycanvas.js"></script>

    <script src="/static/js/jquery-1.11.3.min.js"></script>

    <script src="/static/js/character-create.js"></script>
{% endblock %}
{% block create_active %} active {% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    {% if edit %}
    <a href="{{prev}}" class="btn btn-primary">Previous</a>
    <a href="{{next}}" class="btn btn-primary pull-right">Next</a>
    <input type="hidden" id="char-id" value="{{character.pk}}">
    {% endif %}
    <div class="literally"></div>
    <div>
        Character Name:
        {% if character %}
        <input id="char-name" type="text" value="{{character.name}}">
        {% else %}
        <input id="char-name" type="text" placeholder="Character Name">
        {% endif %}
    </div>
    <div>
        Character Description: 
        {% if character %}
        <input id="char-desc" type="text" value="{{character.description}}">
        {% else %}
        <input id="char-desc" type="text" placeholder="Character Description">
        {% endif %}
    </div>
    {% if edit %}
    <button id="update-button" class="btn btn-primary">Update</button>
    <a href="{% url 'home'%}" class="btn btn-primary">Finished</a>
    {% else %}
    <button id="save-button" class="btn btn-primary">Save</button>
    {% endif %}
    <div class="choose-attr-form">
        
    </div>
    <div id="canvas-test"></div>
    <div id="canvas-url"></div>
    {% if character %}
    <span style="display:none" id="lc-hidden" >{{character.lc_json}}</span>
    {% endif %}
{% endblock %}